PORT=5000
DB_URI=mongodb://127.0.0.1:27017/ecommerce
JWT_SECRET=replace_with_your_jwt_secret
JWT_EXPIRE=5d
COOKIE_EXPIRE=5
SMTP_SERVICE=gmail
SMTP_MAIL=replace_with_your_email@example.com
SMTP_PASSWORD=replace_with_your_app_password
SMPT_HOST=smtp.gmail.com
SMPT_PORT=465
